body {
    font-family: 'Roboto',  sans-serif;
    background-color: #14213d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    background: none;
    color: #fca311;
    border: 2px solid;
    padding: 1em 2em; 
    font-size: 3em;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    
}


button:hover {
    border-color: #ffe600;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #ffe600;
    transform: translateY(-0.25em);
}