/* {
    color: white;
    background-color: midnightblue
    ;*/
body {
    background-color: #e0e1dd;
}
button {
    font-size: 20px;
    background-color: #778da9;
}
h1,h2 {
    color: darkgoldenrod;}